# Merge conflict artifacts
*.orig
*.rej
*_BACKUP_*
*_BASE_*
*_LOCAL_*
*_REMOTE_*

# Python byte code
*.pyc

# Release artifacts
build
dist
*.egg-info
*.tar.gz
*.eggs

# pytest artifactes
.cache

# IDE artifacts
.idea
*.autosave
