[Desktop Entry]
Version=1.0
Categories=KDE;X-QT;AudioVideo;Video;
Comment=Application to download subtitles for your movies.
Comment[en_US]=Application to download subtitles for your movies.
Exec=subdownloader
GenericName=
GenericName[en_US]=
Icon=subdownloader
MimeType=video/avi;
Name=SubDownloader
Name[en_US]=SubDownloader
Path=/usr/share/subdownloader
StartupNotify=false
Terminal=false
Type=Application
X-DCOP-ServiceType=unique
X-KDE-SubstituteUID=false
X-KDE-Username=
