[Desktop Entry]
Version=1.0
Name=SubDownloader
Name[en_US]=SubDownloader
Comment=Application to download/upload subtitles of your movies.
Comment[en_US]=Application to download/upload subtitles of your movies.
Comment[pt_PT]=Aplicação para descarregar/enviar legendas para os seus filmes.
Exec=subdownloader
Icon=subdownloader
Path=/usr/share/subdownloader
MimeType=video/avi;
StartupNotify=false
Terminal=false
X-DCOP-ServiceType=unique
X-KDE-SubstituteUID=false
X-KDE-Username=
Type=Application
Categories=Qt;KDE;AudioVideo;Video;
