[Desktop Entry]
Version=1.0
Name=SubDownloader
Comment=Application to download/upload subtitles of your movies.
Exec=subdownloader
Icon=subdownloader
MimeType=video/avi;
StartupNotify=false
Terminal=false
Type=Application
Categories=Qt;AudioVideo;Video;AudioVideoEditing;
